@media screen and (max-width: 1055px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90px;
    }
    #cover h1 {
        font-size: 40px;
    }
    #cover h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px) {
    .section-content1 img {
        width:30% !important;
    }
    input[type="text"],input[type="email"] {
        height:39px;
        width:65% !important;
    }
}
@media screen and (max-width: 768px) {
    #about h2, #skills h2, #projects h2, #contact h2 {
        font-size: 35px;
    }
    .details h3,.details-2 h3, #skills h3, #projects h3 {
        font-size:22px;
    }
    .details h4,.details-2 h4 {
        font-size:19px;
    }
    .details p,.details a,.details-2 p,.details-2 a, #skills p, #projects p, #contact p,textarea,input[type="text"],input[type="email"],input[type="submit"], footer p, footer a
    {
        font-size:17px !important;
    }
    .details {
        width:20%;
    }
    .section-content1 img {
        width:22%;
    }
    #map {
        width:40% !important;
    }
    #map iframe {
        height:300px !important;
    }
    textarea {
        height: 150px !important;
    }
    input[type="submit"]{
        width:40% !important;
    }
    .scroll-to-top {
        height:35px;
        width: 35px;
        bottom: 15px !important;
        right: 15px !important;
    }
}
@media screen and (max-width: 600px) {
    .section-content1 img {
        width:35% !important;
    }
    .section-content1 .details, .section-content1 .details-2{
        width:40% !important;
    }
    .section-content1 {
        display:flex;
        flex-wrap:wrap;
        .section-content1 img {order:1;}
    }
    .section-content1 img {order:-1;}
    .details-2 {
        margin-top:3%;
    }
    .html5, .sass, .cs,.css3, .c, .sql,.container  {height:31px;}
    .skills {
        padding-top:3px;
        padding-bottom:2.5px;
    }
    #projects-content {
        flex-wrap: wrap;
    }
    #projects .websites {
        width: 80% !important;
    }
    .websites img {
        width:100% !important;
    }
    #website2 {
        padding-top:3%;
    }
    #map {
        width:35% !important;
    }
    #map iframe {
        height:275px !important;
    }
    textarea {
        height: 140px !important;
    }
    input[type="submit"]{
        width:50% !important;
        margin-top:3% !important;
        height:39px;
        padding-bottom:3px !important;
        padding-top:3px !important;
    }
    input[type="text"],input[type="email"] {
        height:39px;
        width:80% !important;
    }
    footer {
        flex-direction: column;
    }
    .icons {
        padding-top:2%;
    }
    .scroll-to-top {
        bottom: 12px !important;
        right: 12px !important;
    }
}
@media screen and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    #logo {
        font-size: 16px !important;
    }
    nav ul {
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }
    nav ul li {
        padding-top: 5% !important;
        font-size: 18px;
    }
    #cover {
        height: 400px;
    }
    #cover h1 {
        font-size: 30px !important;
        width: 70%;
    }
    #cover h2 {
        font-size: 22.5px !important;
        padding-top: 3%;
        width: 80%;
    }
    #cover .material-symbols-outlined {
        font-size: 60px;
    }
    #cover #button-1 {
        font-size: 18px !important;
        padding: 7px 12px;
        margin-top: 5%;
    }
    #about h2, #skills h2, #projects h2 {
        font-size: 32px;
    }
    .details h3,.details-2 h3, #skills h3, #projects h3 {
        font-size:20px;
    }
    .details h4,.details-2 h4 {
        font-size:17px;
    }
    .details p,.details a,.details-2 p,.details-2 a, #skills p, #projects p, textarea,input[type="text"],input[type="email"], footer p, footer{
        font-size:15px;
    }
    #contact-me-content {
        display: flex;
        flex-wrap: wrap;
    }
    form, #map {
        width: 80% !important;
    }
    #map {
        padding-top: 4%;
    }
}
@media screen and (max-width: 425px) {
    .section-content1 img {
        width:55% !important;
    }
    .section-content1 {
        .details,.details-2 {
            width:55% !important;
            padding-top: 5%;
        }
    }
    p {
        text-align: center;
    }
    #about h2, #skills h2, #projects h2, #contact h2 {
        font-size: 30px;
    }
    #projects h3 {
        font-size:27px;
    }
    .class-title-h2 {
        &::before, &::after{
                height: 3px;
                margin-bottom:11px;
        }
    }
    .html5, .sass, .cs,.css3, .c, .sql,.container  {height:27px;}
    .skills {
        padding-top:3px;
        padding-bottom:3px;
    }
}
@media screen and (max-width: 387px) {
    #about h2, #skills h2, #projects h2, #contact h2 {
        font-size: 27px;
    }
    #cover {
        height: 350px;
    }
    #cover h1 {
        font-size: 25px !important;
        width: 70%;
    }
    #cover h2 {
        font-size: 20px !important;
        padding-top: 3%;
        width: 80%;
    }
    #cover .material-symbols-outlined {
        font-size: 50px;
    }
    #cover #button-1 {
        font-size: 18px !important;
        padding: 7px 12px;
        margin-top: 5%;
    }
    input[type="submit"]{
        height: 35px;
    }
}
@media screen and (max-width: 320px) {
    #about h2, #skills h2, #projects h2, #contact h2  {
        font-size: 25px;
    }
    nav ul li {
        font-size: 16px;
    }
    header {
        height: 160px;
    }
    header #logo {
        font-size: 13px !important;
    }
    #cover #button-1 {
        font-size: 16px !important;
        padding: 7px 12px;
        margin-top: 5%;
    }
    .class-title-h2 {
        &::before, &::after{
                height: 2px;
                margin-bottom:8px;
        }
    }
    .section-content1 img {
        width:50% !important;
    }
    .details h3,.details-2 h3, #skills h3 {
        font-size:18px;
    }
    .details h4,.details-2 h4 {
        font-size:17px;
    }
    .html5, .sass, .cs,.css3, .c, .sql,.container  {height:25px;}
    .skills {
        padding-top:3px;
        padding-bottom:2.5px;
    }
    #map iframe {height:200px !important;}
    p {
        text-align: center;
    }
    .scroll-to-top {
        height:35px;
        width: 35px;
        bottom: 10px !important;
        right: 10px !important;
    }
}